nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  height: 60px;
  margin-left: 50px;
}

a {
  text-decoration: none;
  color: #544037;
  font-size: large;
  font-weight: 600;
}

a:hover {
  color: #85654d;
}

a:active {
  color: #b68a63;
}

.right-side {
  display: flex;
  align-items: center;
  margin-right: 100px;
}

.links {
  display: flex;
  gap: 40px;
  list-style: none;
}

.links a {
  text-decoration: none;
}
